.parameter-comp.container {
    padding: 2vw;
    box-sizing: border-box;
}

.parameter-comp .title h3 {
    font-size: 1.5vw;
    padding-bottom: 1vw;
}

.parameter-comp .title p {
    font-size: 1.1vw
}


.parameter-comp form {
    padding-top: 4vw;
    font-size: 1vw;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    position: relative;
}

.parameter-comp form h4 {
    font-size: 1.1vw;
    margin-bottom: 0.4vw;
}


.parameter-comp form .line {
    display: flex;
    flex-wrap: nowrap;
    gap: 2.5vw;
    padding-top: 1vw;
    height: auto;
}

.parameter-comp form button{
    border :none;
    padding : 1vw;
    font-size : 1vw;
    width : 15vw;
    border-radius : 3px;
    font-weight : 700;
    color : white;
    background-color : rgba(248, 168, 19, 0.637);
    pointer-events : none;
    cursor : pointer
}

.parameter-comp form button.activated{
    background-color : rgba(255, 166, 0, 0.856);
    pointer-events : all;
    transition : 0.2s ease;
}

.parameter-comp form button.activated:hover{
    background-color : rgba(230, 151, 4, 0.877);
}

.parameter-comp form section {
    margin: 1vw 0;
    height: auto;
    border: 0.1vw solid rgb(78, 78, 78);
    position: relative;
    border-radius: 2px;
    padding: 0.6vw;
    width: 100%;
    display: flex;
    flex-direction: column;
}
div#res-container{
    position: absolute;
    bottom: 0;
    right: 1vw;
    width: max-content;
    height: 2.9vw;
    max-width: 35vw;
    border-radius: 0.4vw;
    overflow: hidden;
}


.parameter-comp form section label {
    font-size: 0.7vw;
    padding-bottom: 0.2vw;
    color: rgb(66, 66, 66);
}

.parameter-comp input,
.parameter-comp select {
    font-size: 1vw;
    width: 100%;
    height: 1vw;
    border: none;
    padding: 0.3vw 0;
}

.parameter-comp input:disabled {
    color: #5c5c5c; 
    background: none;
  }
.parameter-comp input:focus{
    outline : none;
}

@media screen and (max-width: 1300px) {
    .parameter-comp.container {
        padding: 6vw 4vw;
    }
    .parameter-comp .title h3 {
        font-size: 6vw;
        display: none;
        padding-bottom: 2vw;
    }
    .parameter-comp .title p {
        font-size: 3.2vw
    }
    .parameter-comp form h4 {
        font-size: 4vw;
        margin-top: 3vw;
        margin-bottom: 0.8vw;
    }

    .parameter-comp form section label{
        font-size: 3vw;
    }
    .parameter-comp input, .parameter-comp select {
        font-size: 4.1vw;
        height: 4.3vw;
    }

    .parameter-comp form .line {
        flex-direction: column;
        gap: 0;
    }


    .parameter-comp form button{
        font-size: 3.3vw;
        width: 30vw;
        padding: 3vw;
        margin: 0;
        margin-left: auto;
        margin-top: 3vw;
    }

    .parameter-comp form section {
        padding:0.7vw 2vw ;
        padding-top: 2vw;
        margin: 3vw 0;
    }
}

@media screen and (min-width: 1920px) {
    .parameter-comp .title h3 {
        font-size: 33px;
        padding-bottom: 20px;
    }
    .parameter-comp .title p {
        font-size: 20px
    }

    .parameter-comp form h4{
        font-size: 20px;
    }

    .parameter-comp form{
        padding-top: 70px;
    }

    .parameter-comp form section label{
        font-size: 12px;
        padding-bottom: 2px
        
    }
    .parameter-comp input, .parameter-comp select{
        font-size: 15px;
        height: 25px;
        padding: 0;
    }

    .parameter-comp form section{
        border: 1px solid rgb(78, 78, 78);
        margin: 16px 0;
        padding: 8px;
    }

    .parameter-comp form button{
        padding : 15px 50px; 
        font-size: 15px;
        width: 250px;
    }

    .parameter-comp form .line{
        padding-top: 20px;
        gap: 30px;
    }
}